body {
  background-color: #000000;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  /* align items works for horizontal images */
  /* align-items: center; */
  padding-top: 80px;

  perspective: 800px;
}

.card {
  width: 400px;
  height: 250px;
}

@media (max-width: 1000px) {
  body {
    padding-top: 150px;
  }
  .card {
    width: 300px;
    height: 150px;
  }
}
